@import './base.css';

#app { /* standaard regels opmaak */
  max-width: 1280px;  /*change this value for a wider or narrower page*/
  margin: 0 auto;     /*keeps the page centered*/
  padding-top: 30px;   /*change this value for more or less space on the top*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (min-width: 768px) {
  #app {
    grid-template-areas:
      "main"
      "management"
      "actions"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    min-height: 100vh;
  } 

  #app { /* als pagina groter dan of gelijk is aan 1024 pixels, additional opmaak regels */
        display: grid;
        grid-template-areas: 
        "main main main"
        "management footer actions";
        grid-template-columns : 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        min-height: 100vh;
    /* padding: 0 2rem; */
  }

main {
  grid-area: main;
  /* border: 20px solid hsla(0, 0%, 100%, 0.2); */
}

footer {
  grid-area: footer;
  /* border: 20px solid hsla(0, 0%, 100%, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.management {
  grid-area: management;
  /* border: 20px solid hsla(0, 0%, 100%, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  grid-area: actions;
  /* border: 20px solid hsla(0, 0%, 100%, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
}
}


