<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cronBach</title>
    <link rel="stylesheet" href="/cronBach/staticFirstPage/styles.css">
    <script type="text/javascript" src="/cronBach/staticFirstPage/scripts.js" defer></script>
    <link rel="icon" type="icon" href="/cronBach/staticFirstPage/img/favicon-white.svg" sizes="32x32" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="icon" href="/cronBach/staticFirstPage/img/favicon-color.svg" sizes="32x32" media="(prefers-color-scheme: light)">
</head>
<body>
    <div class="content">
        <div class="new-job">
            <h2>cronBach factors</h2>
            <div class="block">
                <form method="post" enctype="multipart/form-data" action="cronBach/api/job/create">
                    <label for="client">Client:</label><br>
                    <select id="client" name="client">
                        <option value="" disabled selected>Select a client</option>
                        {% for client in clients %}
                            <option value="{{ client }}">{{ client }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <input type="file" id="file" name="files" accept=".xlsx" style="display:none;">
                    <button type="button" id="uploadButton">
                        <span>Select file and create groups</span>
                    </button>
                </form>
            </div>
        </div>

        <div id="jobs">
        </div>
    </div>
</body>
</html>